nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;             
  padding-right: 1.5em;
  font-family: 'Bungee', sans-serif;

  display: flex;                   
  align-items: center;
  justify-content: space-between;  
}

.write-a-tweet {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.2;
}

.write-a-tweet i {
  display: block;
  margin-top: 4px;
  color: red;
}