

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;       /*Could combine into <padding: 0 1.5em for DRYness*/
  padding-right: 1.5em;
  font-family: 'Bungee', sans-serif;

  display: flex;             /*Sets nav bar elements side-by-side, instead of vertically stacked*/
  align-items: center;
  justify-content: space-between;  /*Pushes "TWEETER?!" and "Write a New Tweet" to opposite sides*/
}


.write-a-tweet {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.2;
}

.write-a-tweet i {
  display: block;
  margin-top: 4px;
  color: red;
}