.new-tweet {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.new-tweet h2 {
  text-align: center;
}

.new-tweet textarea {
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  border: 2px solid grey;
  border-radius: 8px;
  text-align: left;
  font-size: 1em;
  background-color: lavender;
  resize: vertical;
}

.new-tweet button {
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  cursor: pointer;
  color: black;
  background-color: plum;
}

.new-tweet button:hover {
  background-color: thistle;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet form label {
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 2px solid;
  padding-bottom: 0.5em;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 0.5em;
}

.counter {
  margin-left: auto;
  font-size: 0.9em;
  color: black;
}

.counter.over-limit {
  color: red;
}

.error-message {
  color: crimson;
  text-align: center;
  display: none;              /*Message starts hidden*/
}