.new-tweet {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.new-tweet h2 {
  text-align: center;
}

.new-tweet button {
  border: none;
  font-size: 1em;
  cursor: pointer;
  color: white;
  background-color: deepskyblue;
}

.new-tweet button:hover {
  background-color: skyblue;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet textarea {
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.new-tweet form label {
  display: block;
  margin-bottom: 0.5em;
  border-bottom: 2px solid;
  padding-bottom: 0.5em;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-top: 0.5em;
}

.counter {
  margin-left: auto;
}

.counter.over-limit {
  color: red;
}

.error-message {
  color: crimson;
  text-align: center;
  display: none;              /*Message starts hidden*/
}